
body{
    /* google font  */
    font-family: 'Poppins', sans-serif;
}
.btn{
    /* button setting */
    width: 196px;
    height: 44px;
    background: #E02C6D;
    border-radius: 41px;
}
.picture{
    /* image settings */
    width: 440px;
    height: 414px
}
/* For Bonus part  */
.effect:hover{
  transform: rotate(180deg);
}
/* ------------------------------------ flex first part
                                ---------------------------------------------- */
.container{
    display:flex;
    gap: 133px;
    margin-top: 100px;
}  

/* ---------------container-2 styles------------------------------------------- 
------------------------------------------------------------------------------*/
.heading{
    text-align: center;
}
/* star color & size */
.star{
    color: orange;
    font-size: 10px;
    
    
}
/* rating color */
.rating{
    color: black;
}
/* grid container-2  */
.container-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
/* box setting */
.container-2 .box{
    width: 329px;
    height: 420px;
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 1px 1px 1px 2px rgb(231, 158, 158);
    padding: 10px;
    
}
/* container2 paragraph size & color */
.container-2 .size{
    font-size: 10px;
    color:#787885;
}
.container-2 .box #resize {
    margin-bottom: -2%;
    margin-top: 2%;
}

/* See More section */
.See-more {
    text-decoration: none;
    position: absolute;
    margin-left: 950px;
    color: #E02C6D;
    
}

/* footer section */
.Footer{
    
    width: 1320px;
    height: 150px;
    bottom:0;
    text-align:center;
    background-color: black;
    color: whitesmoke;
    margin-top: 80px;
    border-radius: 9px;
}


/* newsletter styles */
form {
    margin-top: 47px;
    border: 2px solid #f1f1f1;
  }
form h2{
    text-align: center;
  }
  
  /* padding and  background color for containers */
  .news-letter {
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  /* Styles for input elements and submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }



/* Responsive */

/*  Small Devices, Phones */ 

@media only screen   
and (min-device-width : 320px)   
and (max-device-width : 480px)   {
    .navbar{
        color: blue;
        text-align: center;
        padding: 0 7px 8px;
    }
    .container{
        display: block;
        padding: 10px;
        box-sizing: border-box;
        padding: 0 7px 8px;
    }
    .container p{
        width: 100%;
        padding: 0 7px 8px;
        
    }
    .picture{
        width: 100%;
        height: auto;
        padding: 0 7px 8px;
    }
    .heading{
        color: blue;
        text-align: center;
        padding: 0 7px 8px;
    }
    .container-2{
        display: block;
        padding: 10px;
        box-sizing: border-box;
        padding: 0 7px 8px;
    }
    .Footer{
       width: 100%;
       height: auto;
       padding: 10px;
       box-sizing: border-box;
       padding: 0 7px 8px;
    }
}
/* For Ipad/tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .navbar{
        padding: 0 7px 8px;
    }
    .container{
        display: block;
        padding: 10px;
        box-sizing: border-box;
        padding: 0 7px 8px;
    }
    .container p{
        width: 100%;
        padding: 0 7px 8px;
        
    }
    .picture{
        width: 100%;
        height: auto;
        padding: 0 7px 8px;
    }
    .heading{
        padding: 0 7px 8px;
    }
    .container-2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 10px;
        box-sizing: border-box;
        padding: 0 7px 8px;
    }
    .Footer{
        width: 100%;
       height: auto;
       padding: 10px;
       box-sizing: border-box;
       padding: 0 7px 8px;
    }
    }